# Virtual Environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Django
db.sqlite3
*.log
uploads/
backend/uploads/

# Node & Frontend
node_modules/
dist/
build/
.npm
.vite

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
